aero_comparison.xlsx
cam_units.xlsx
Comparación mecanismos.xlsx
env_emis
G2Lconv_CB05_AE5_from_NCEP_17jun15.EXT
Map_conversor.py
mec_comparison.xlsx
MECHS
Test_Emisiones_SDA.py
Test_mecs.py
Unitstest.py
Untitled.ipynb
.DS_Store
.ipynb_checkpoints
.vscode